<div class="row">
    <div class="col s12">
        <h1>
            Admin Page
        </h1>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col s12">
            <table class="highlight">
                <thead>
                    <tr>
                        <th>Transaction ID</th>
                        <th>Current Currency</th>
                        <th>Customer ID</th>
                        <th>Total Money</th>
                        <th>Customer First Name</th>
                        <th>Customer Last Name</th>
                    </tr>
                </thead>
                {{#each transaction}}
                <tbody>
                    <tr class="select-reciever" data-id="{{id}}">
                        <td>{{id}}</td>
                        <td>{{current_currency}}</td>
                        <td>{{Customer.id}}</td>
                        <td>{{total_money}}</td>
                        <td>{{Customer.first_name}}</td>
                        <td>{{Customer.last_name}}</td>
                    </tr>
                </tbody>
                {{/each}}
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <table class="highlight">
                <thead>
                    <tr>
                        <th>Transaction ID</th>
                        <th>Current Currency</th>
                        <th>Vendor ID</th>
                        <th>Total Money</th>
                        <th>vendor First Name</th>
                        <th>vendor Last Name</th>
                    </tr>
                </thead>
                {{#each transaction}}
                <tbody>
                    <tr class="select-reciever" data-id="{{id}}">
                        <td>{{id}}</td>
                        <td>{{current_currency}}</td>
                        <td>{{Vendor.id}}</td>
                        <td>{{total_money}}</td>
                        <td>{{Vendor.first_name}}</td>
                        <td>{{Vendor.last_name}}</td>
                    </tr>
                </tbody>
                {{/each}}
            </table>
        </div>
    </div>
</div>