<div class="row">
    <div class="col s12">
        <h1>
            @{{Transaction.Vendor.VendorId}}
        </h1>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col s12">
            <table class="highlight">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Location</th>
                        <th>Rating</th>
                        <th class="right-align">Cash Amount</th>
                    </tr>
                </thead>
                {{#each transaction}}
                <tbody>
                    <tr class="select-reciever" data-id="{{UserId}}">
                        <td>{{User.first_name}} {{User.last_name}}</td>
                        <td>{{transaction_location}}</td>
                        <td>{{User.user_rating}}</td>
                        <td class="right-align">{{total_money}}</td>
                    </tr>
                </tbody>
                {{/each}}
            </table>
            <ul class="collapsible popout" data-collapsible="accordion">
                <li>
                    <div class="collapsible-header">
                        <i class="material-icons">person_outline</i>Name
                    </div>
                    <div class="collapsible-body">
                        <ul>
                            <li>
                                <div class="valign-wrapper">
                                    <i class="secondary-content material-icons custom-icon">person</i>
                                    <span class="flow-text" id="name"></span>&nbsp;
                                </div>
                            </li>
                        </ul>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header">
                        <i class="material-icons">account_circle</i>Contact</div>
                    <div class="collapsible-body">
                        <ul>
                            <li>
                                <div class="valign-wrapper">
                                    <i class="secondary-content material-icons custom-icon">phone</i>
                                    <span class="flow-text" id="phone_number"></span>
                                </div>
                            </li>
                            <li>
                                <div class="valign-wrapper">

                                    <i class="secondary-content material-icons custom-icon">email</i>
                                    <span class="flow-text" id="email"></span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header">
                        <i class="material-icons">place</i>Location</div>
                    <div class="collapsible-body">
                        <span class="flow-text" id="location"></span>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header">
                        <i class="material-icons">whatshot</i>User Rating</div>
                    <div class="collapsible-body">
                        <ul>
                            <li>
                                <div class="valign-wrapper">
                                    <i class="secondary-content material-icons custom-icon">whatshot</i>
                                    <span class="flow-text" id="user_rating"></span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </li>
                <div class="row custom-card-row">
                    <div class="col offset-s3 s6">
                        <div class="card blue-grey darken-1">
                            <a href="#" class="click-div">
                                <div class="card-content white-text">
                                    <span class="card-title center">Total Money</span>
                                    <h1 class="center" id="total_money"></h1>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <a class="waves-effect waves-light btn-large" id="vendor-back-btn">
                    <i class="material-icons left">arrow_back</i>back to dashboard</a>
            </ul>
        </div>
    </div>
</div>